@{
    ViewData["Title"] = "Statistiche";
}

<h1>Statistiche</h1>

<ul>
    <li><a href="/Statistiche/VerbaliPerTrasgressore">Totale Verbali per Trasgressore</a></li>
    <li><a href="/Statistiche/PuntiDecurtatiPerTrasgressore">Totale Punti Decurtati per Trasgressore</a></li>
    <li><a href="/Statistiche/ViolazioniPiuDiDieciPunti">Violazioni con Più di 10 Punti Decurtati</a></li>
    <li><a href="/Statistiche/ViolazioniMaggioreDiQuattrocentoEuro">Violazioni con Importo Maggiore di 400 Euro</a></li>
</ul>
