@{
    ViewData["Title"] = "Admin - Dashboard";
}

<div class="container mt-5">
    <h2 class="text-center">Accesso effettuato come Amministratore</h2>
    <p class="text-center">Benvenuto nell'area amministrativa.</p>
</div>
