
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Benvenuti nella Gestione delle Contravvenzioni</h1>
    <p>Seleziona una sezione:</p>
    <ul>
        <li><a href="/anagrafiche/Index">anagrafiche Trasgressori</a></li>
        <li><a href="/TipiViolazione/Index">Elenco Violazioni</a></li>
        <li><a href="/Verbali/Create">Compilazione Verbale</a></li>
        <li><a href="/Statistiche/Index">Statistiche</a></li>
    </ul>
</div>
