@model IEnumerable<PizzeriaInFornoWebApp.Models.Order>

@{
    ViewData["Title"] = "Storico Ordini";
}

<div class="container mt-5">
    <h2 class="text-center">Storico Ordini</h2>
    <table class="table table-striped mt-4">
        <thead>
            <tr>
                <th>ID Ordine</th>
                <th>Data</th>
                <th>Totale</th>
                <th>Stato</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var order in Model)
            {
                <tr>
                    <td>@order.Id</td>
                    <td>@order.OrderDate</td>
                    <td>@(order.IsCompleted ? "Completato" : "In Attesa")</td>
                </tr>
            }
        </tbody>
    </table>
</div>
