@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Benvenuti in ScarpeCo: Il Tuo Shop Perfetto per Scarpe da Tennis</h1>
    <picture>
  <source media="(min-width: 465px)" srcset="file-small.jpg" />
  <source media="(min-width: 650px)" srcset="file-medium.jpg" />
  <img src="file.jpg" alt="" />
</picture>

<h3> Per vedere i nostri articoli SPOSTATI SULLA VETRINA ARTICOLI</h3>
    <p>
        
        Benvenuti nel mondo di ScarpeCo, dove la passione per il tennis si unisce all'eleganza e alla performance delle migliori calzature sportive. Da noi troverai una vasta selezione di scarpe da tennis, progettate per soddisfare le esigenze di ogni giocatore, dal principiante al professionista.

        Esplora il nostro catalogo completo di scarpe da tennis di alta qualità, dalle ultime novità tecnologiche ai classici intramontabili. Ogni scarpa è attentamente selezionata per garantire comfort, durabilità e prestazioni superiori su ogni campo da tennis.

        Che tu stia cercando una scarpa leggera per migliorare la tua velocità di movimento, o un modello robusto per resistere a lunghe sessioni di gioco, ScarpeCo ha ciò di cui hai bisogno. Oltre alle scarpe, scopri anche accessori e attrezzature essenziali per completare il tuo equipaggiamento da tennis.

        Unisciti alla nostra comunità di appassionati di tennis e scopri come ScarpeCo può migliorare la tua esperienza sul campo. Siamo qui per aiutarti a dare il massimo in ogni partita. Entra nel gioco con ScarpeCo, dove ogni passo conta
    </p>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
